@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 6px; /* Scrollbar width */
}

::-webkit-scrollbar-thumb {
    background: #EF4444; /* Thumb color (gray-600) */
}

::-webkit-scrollbar-thumb:hover {
    background: #dc2626; /* Darker color on hover (gray-800) */
}

::-webkit-scrollbar-track {
    background: #F3F4F6; /* Track color (gray-100) */
    border-radius: 6px; /* Round edges */
}

/* Hiệu ứng "đập nhịp tim" khi không mở menu */
.heart-beat {
    animation: heartbeat 1.5s infinite;
}

/* Hiệu ứng "nảy" khi mở/đóng menu */
.heart-bounce {
    animation: bounce 0.4s ease-in-out;
}

/* Keyframes: Hiệu ứng đập nhịp tim */
@keyframes heartbeat {
    0%, 100% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.15);
    }
    75% {
        transform: scale(1.1);
    }
}

/* Keyframes: Hiệu ứng nảy khi click */
@keyframes bounce {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

